$font-family_1: 'Roboto', sans-serif;
$color_1: #FFF;
$color_2: #222;
$color_3: #1EACC7;
$color_4: #202020;
$color_5: #FF5656;
$color_6: #55eea7;
$background-color_1: #212121;
$background-color_2: rgba(0, 0, 0, 0.60);
$background-color_3: #000;
$background-color_4: #1EACC7;
$background-color_5: #fff;
$background-color_6: #1FBAD6; 